<!DOCTYPE html> 
<html> 
  <head> 
    <meta charset="UTF-8"> 
    <link rel="stylesheet" href="/static/css/style.css">
    {% block head %}
        <title>Главная страница</title>
    {% endblock %}
  </head>
  <body> 
    <header>
      <div class="btn-group">
        <button><a href="/">Главная страница</a></button>
        <button><a href="/products">Продукция</a></button>
        <button><a href="/contacts">Контакты</a></button>
        <button><a href="/about">О компании</a></button>
        <button><a href="/logout">Выход</a></button>
      </div>
    </header>
    {% block content %}
    <h1 align=center>Товары месяца</h1>
        <div class="main">
            <div class='card'>
                <a href="/product1">
                    <img src="/static/images/noni.jpg" width="300" height="300">
                    <p class "prom">Распродажа перфораторов!<p>
                </a>
                
            </div>            
         <div class="main"> 
            <div class='card'>
                <a href="/product2">
                    <img src="/static/images/drel.png" width="300" height="300">
                    <p class = "prom">Распродажа!<p>
                </a>
            </div>
          <div class="main"> 
            <div class='card'>
                <a href="/product3">
                    <img src="/static/images/sverl.jpg" width="300" height="300">
                    <p class = "prom">Сверла по низкой цене!<p>
                </a>
             </div>
           <div class="main"> 
            <div class='card'>
                <a href="product4.html">
                    <img src="/static/images/samo.jpg" width="300" height="300">
                    <p class = "prom">Дешевые саморезы!<p>
                 </a>
             </div>
            <div class="main"> 
            <div class='card'>
                <a href="product5.html">
                    <img src="/static/images/dubel.jpg" width="300" height="300">
                    <p class = "prom">Надёжные дюбели!<p>
             </div>
   
        
        
    {% endblock %}
  </body> 
</html> 